#welcome
{
	position:absolute;
	background-color:transparent;
	top:50px;
	font-size:20px;
	font-weight:700;
	color:#000;
	left:50%;
	-webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#region
{
	margin-top: 80px;
	padding-bottom: 10px;
}

#table1
{
	margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(odd) {
    background: #FFCCCC;
}

tr:nth-child(even) {
    background: #FFFFCC;
}

.scroll
{
	overflow:auto;
}